<!--The content below is only a placeholder and can be replaced.-->

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Toit</th>
        <th scope="col">Pakkuja</th>
        <th scope="col">Hind</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let foodItem of foodItems; index as i; trackBy: trackByFn">
        <th scope="row">{{i+1}}</th>
        <td>{{ foodItem.name_est }} </td>
        <td><h6 *ngFor="let provider of foodItem.providers; index as i; trackBy: trackByFn">{{ provider }}</h6></td>
        <td>€{{ foodItem.price }} </td>
      </tr>
    </tbody>
  </table>



<router-outlet></router-outlet>
